<form>
  <div class="field is-grouped-multiline">
    <div class="control">
      <div class="select">
        <select id="location-dropdown" name="location-dropdown"
                ng-model="selectedLocation1"
                ng-options="item.id as item.name for item in locationList"
                ng-change="onLocationChange()">
        </select>
      </div>
      <div class="select">
        <select id="additional-location-dropdown" name="additional-location-dropdown"
                ng-model="selectedLocation2"
                ng-options="item.id as item.name for item in locationList"
                ng-change="onLocationChange()">
        </select>
      </div>
      <div class="select">
        <select id="year-dropdown" name="year-to-dropdown"
                ng-model="selectedYear"
                ng-options="item for item in yearList"
                ng-change="onYearChange()">
        </select>
      </div>
    </div>
    <p class="help">Please select both locations to compare for which year to display entries in the table.</p>
  </div>
</form>
<div class="content" ng-hide="comparisons.length == 0">
  <ul>
    <li>Rain Volume difference: <span id="difference-average-rain-volume">{{comparisons.differences.rain_volume | number: 1}}</span> mm</li>
    <li>Sun Duration difference: <span id="difference-average-sun-duration">{{comparisons.differences.sun_duration | number: 1}}</span> hours</li>
    <li>Temperature Minimum difference: <span id="difference-average-temperature-minimum">{{comparisons.differences.temperature_minimum | number: 1}}</span>&#8451;</li>
    <li>Temperature Maximum difference: <span id="difference-average-temperature-maximum">{{comparisons.differences.temperature_maximum | number: 1}}</span>&#8451;</li>
  </ul>
</div>
<table id="entry-table" class="table" ng-table="entryTable" ng-hide="entries.length == 0">
  <thead>
  <tr>
    <th>Location</th>
    <th>Month</th>
    <th>Rain (mm)</th>
    <th>Sun (hrs)</th>
    <th>Temp min (c)</th>
    <th>Temp max (c)</th>
  </tr>
  </thead>
  <tr ng-repeat="entry in entries">
    <td data-title="'Year'" style="text-transform: capitalize">{{entry.location}}</td>
    <td data-title="'Month'">{{entry.month | month}}</td>
    <td data-title="'Rain'">{{entry.rain_volume | number: 1}}</td>
    <td data-title="'Sun'">{{entry.sun_duration | number: 1}}</td>
    <td data-title="'Temp min'">{{entry.temperature_minimum | number: 1}}</td>
    <td data-title="'Temp max'">{{entry.temperature_maximum | number: 1}}</td>
  </tr>
</table>