<form>
    <div class="field is-grouped-multiline">
        <div class="control">
            <div class="select">
                <select id="location-dropdown" name="location-dropdown"
                        ng-model="selectedLocation"
                        ng-options="item.id as item.name for item in locationList"
                        ng-change="onLocationChange()">
                </select>
            </div>
            <div class="select">
                <select id="year-from-dropdown" name="year-from-dropdown"
                        ng-model="selectedYearFrom"
                        ng-options="item for item in yearList"
                        ng-change="onYearChange()">
                </select>
            </div>
            <div class="select">
                <select id="year-to-dropdown" name="year-to-dropdown"
                        ng-model="selectedYearTo"
                        ng-options="item for item in yearList"
                        ng-change="onYearChange()">
                </select>
            </div>
        </div>
        <p class="help">Please select the location and year range to display entries in the table.</p>
    </div>
</form>
<div class="content" ng-hide="aggregates.length == 0">
    <ul>
        <li>Average Rain Volume: <span id="average-rain-volume">{{aggregates.averages.rain_volume | number: 1}}</span> mm</li>
        <li>Average Sun Duration: <span id="average-sun-duration">{{aggregates.averages.sun_duration | number: 1}}</span> hours</li>
        <li>Average Temperature Minimum: <span id="average-temperature-minimum">{{aggregates.averages.temperature_minimum | number: 1}}</span>&#8451;</li>
        <li>Average Temperature Maximum: <span id="average-temperature-maximum">{{aggregates.averages.temperature_maximum | number: 1}}</span>&#8451;</li>
    </ul>
</div>
<table id="entry-table" class="table" ng-table="entryTable" ng-hide="entries.length == 0">
    <thead>
    <tr>
        <th>Year</th>
        <th>Month</th>
        <th>Rain (mm)</th>
        <th>Sun (hrs)</th>
        <th>Temp min (c)</th>
        <th>Temp max (c)</th>
    </tr>
    </thead>
    <tr ng-repeat="entry in entries">
        <td data-title="'Year'">{{entry.year}}</td>
        <td data-title="'Month'">{{entry.month | month}}</td>
        <td data-title="'Rain'">{{entry.rain_volume | number: 1}}</td>
        <td data-title="'Sun'">{{entry.sun_duration | number: 1}}</td>
        <td data-title="'Temp Min'">{{entry.temperature_minimum | number: 1}}</td>
        <td data-title="'Temp Max'">{{entry.temperature_maximum | number: 1}}</td>
    </tr>
</table>

